<tr>
	<td 
		style="
			padding: 0;
			margin: 0;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 20px;
			background-color: {{background}};
			{{#if backgroundImage}}
			background-image: url({{backgroundImage}});
			background-repeat: no-repeat;
			background-position: left top; 
			{{/if}}
		"
	>
	{{content}}
	</td>
</tr>