<tr>
	<td
		style="
			margin: 0;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: {{background}};
			{{#if backgroundImage}}
			background-image: url({{backgroundImage}});
			background-repeat: no-repeat;
			background-position: left top; 
			background-size: cover;
			{{/if}}
		"
	>
		<table style="width: 100%; max-width: 600px">
			<tbody>
				{{content}}
			</tbody>
		</table>
	</td>
</tr>
