<tr>
	<td>
		<table style="width: 100%">
			<tbody>
				<tr>
					<td style="width: 200px"></td>
					<td style="width: 200px">
						<a
							href="{{link}}"
							style="text-decoration: none;"
						>
							<div
								style="{{style}}"
							>
								{{text}}
							</div>
						</a>
					</td>
					<td style="width: 200px"></td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
